name: Release package

on:
  push:
    tags:
        - '*'

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - name: Setup Python
        uses: actions/setup-python@v1
        with:
          python-version: 3.7
      - name: Install required packages
        run: pip install wheel twine
      - name: Build package
        run: python setup.py sdist bdist_wheel
      - name: Publish package
        run: twine upload -u __token__ -p {% raw %}${{ secrets.PYPI_TOKEN }}{% endraw %} dist/*
